---
---

@import "{{ site.theme }}";

  .btn {
    color: #0000ff;
    border-color: #0000ff; 
    // background-color: #008CBA;
  } 

  .btn:hover {
    color: #7FBCFF;
    text-decoration: none;
    background-color: #7FBCFF;
    border-color: #1E62DB;
  }

  .page-header{
  color:#ffff;
  background-color:#D1C414;
  background-image:linear-gradient(120deg,#5FA5FF,#2a7fff);
  }
 
